@inherits LayoutComponentBase
<MudThemeProvider Theme="customTheme" DefaultScrollbar="true"/>
<MudDialogProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer" />
<MudPopoverProvider @rendermode="InteractiveServer"/>

<MudLayout>
    <div class="body-background">
        <HeaderSidebar style="width:100vw;"/>
        <MudMainContent>
            @Body
        </MudMainContent>   
    </div>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code{
   
    private readonly MudTheme customTheme = new()
    {
        Palette = new PaletteLight()
        {
            AppbarBackground = "#6F6D6D",
            DrawerBackground = "#6F6D6D",
            Primary = "#213555"
        },
        PaletteDark = new PaletteDark()
        {
            AppbarBackground = "#292929",
            DrawerBackground = "#292929",
            Primary = "#518AE5"
        }
    };

}