@inherits LayoutComponentBase
<MudThemeProvider Theme="customTheme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout class="body-background">
    <HeaderSidebar/>
    <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
        <div class="body-background">
            <MudMainContent>
                @Body
            </MudMainContent>
        </div>
    </div>

</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code{

    private readonly MudTheme customTheme = new()
    {
        Palette = new PaletteLight()
        {
            AppbarBackground = "#6F6D6D",
            DrawerBackground = "#6F6D6D",
            Primary = "#213555"
        },
        PaletteDark = new PaletteDark()
        {
            AppbarBackground = "#292929",
            DrawerBackground = "#292929",
            Primary = "#518AE5"
        }
    };

}