@page "/Character/{CharacterName}"
@using WuwaDB.DBAccess.Entities.Character
<div>
    <MudContainer Class="mt-10">
        <MudPaper Style="background-image:unset!important;" Class="d-inline-flex">

        </MudPaper>
    </MudContainer>
</div>

@code {
    
}
