@page "/Character/{CharacterName}"
@using WuwaDB.DBAccess.Entities.Character
<div>
    <MudContainer Class="w-100 h-100" >
        <MudToolBar>
            <MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Settings" OnClick="OpenDialog">
                Edit Character
            </MudButton>
        </MudToolBar>
        <MudGrid Justify="Justify.FlexStart">
            <MudItem>
                <div class="character-card-container">
                    <MudCardMedia Image="@($"/Character_Model/{character.Name}.png")" Class="character-card bg-color-transparent"/>
                </div>
            </MudItem>
            <MudSpacer/>
            <MudItem >
                <MudStack AlignItems="AlignItems.End" Spacing="10" Class="bg-color-unset">
                    <MudPaper Elevation="0" Class="bg-color-transparent">
                        <MudStack Row="true" Spacing="5">
                            <MudImage Style="width:30px;" Src="Icon/AttributeStat/T_Iconpropertygreenlife_UI.png"/>
                            @CharacterStats.HP
                        </MudStack>
                    </MudPaper>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudContainer> 
</div>

@code {
    const string HP = @"<img src=""Icon/AttributeStat/T_Iconpropertygreenlife_UI.png""/>";
}}
 