
@font-face{

}

::deep .expand-hover {
    transition: all .3s ease-in-out;
}

    ::deep .expand-hover:hover {
        text-decoration: none;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        transform: scale(1.05);
        
    }
::deep .SSR:hover {
    background-color: rgba(255, 204, 0, 0.5) !important;
    box-shadow: 0 0 10px #ffcc00;
}
::deep .SR:hover {
    background-color: rgba(148, 58, 172, 0.5) !important;
    box-shadow: 0 0 10px #943aac80;
}
::deep .character-card {
    width: 100% !important;
    height: 100% !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

::deep .character-card-container {
    height: 20vh;
    position: relative;
    object-position: center;
    position: fixed;
}