@page "/"

<PageTitle>Wuwa DB</PageTitle>
<div>
    <MudContainer Class="mt-10">
        <MudGrid Justify="Justify.Center"Spacing="1">
            <MudItem xs="2">
                <MudLink Class="hover-effect" Href="/Character/Danjin">
                    <MudCard Style="background-color:transparent;" Class="expand-hover" >
                        <MudCardHeader>
                            <MudImage Fluid="true" Src="danjin.png" ObjectFit="ObjectFit.Cover"></MudImage>
                        </MudCardHeader>
                        <MudCardContent Style="padding:unset;!important">
                            <MudStack Row="true" Justify="Justify.SpaceAround">
                                <MudTooltip Text="Havoc" Color="Color.Dark" Placement="Placement.Bottom">
                                    <MudIconButton Style="padding:unset!important;">
                                        <MudAvatar>
                                            <MudImage Src="/Element/Wuthering-Waves-Havoc.png" />
                                        </MudAvatar>
                                    </MudIconButton>
                                </MudTooltip>
                                <MudText Style="font-family:UnifrakturMaguntia" Class="text-center" Typo="Typo.h6">Danjin</MudText>
                                <MudTooltip Text="Katana" Color="Color.Dark" Placement="Placement.Bottom">
                                    <MudIconButton Style="padding:unset!important;">
                                        <MudAvatar>
                                            <MudImage Src="/Weapon/Sword/EmeraldOfGenesis.png" />
                                        </MudAvatar>
                                    </MudIconButton>
                                </MudTooltip>
                            </MudStack>
                           
                        </MudCardContent>
                    </MudCard>
                </MudLink>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>
   





@code {
}