@page "/Monster/List"

<PageTitle>Monster List</PageTitle>

<div style="margin-top:0!important;padding-top:10px;">
    <MudContainer>
        <MudToolBar>
            <MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Settings">
                Edit Monster
            </MudButton>
        </MudToolBar>
        <MudGrid Justify="Justify.Center">
             <MudItem xl="2" xxl="2" xs="8" sm="4" md="3" lg="2">

             </MudItem>
        </MudGrid>
    </MudContainer>
</div>